<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div>
      <a href="#" class="navbar-brand">yourTodoList</a>
    </div>

    <ul class="navbar-nav">
      <!-- routerLink vs href: il primo fa sì che non venga ricaricata l'intera pagina -->
      <li><a *ngIf="hardCodedAuth.isUserLoggedIn()" routerLink="/welcome/pippo" class="nav-link">Home</a></li>
      <li><a *ngIf="hardCodedAuth.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a *ngIf="!hardCodedAuth.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="hardCodedAuth.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
      </ul>
  </nav>
</header>
