<h1>My Todos</h1>

<div class="container">
  <table class="table table-striped">
    <caption></caption>
    <thead class="thead-light">
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Completed?</th>
      </tr>
    </thead>
    <tbody>
      <!-- angular directive "forEach" -->
      <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate | date | uppercase}}</td>
        <td>{{todo.done}}</td>
      </tr>
    </tbody>
  </table>
</div>
