<h1>Todo #{{todo.id}}</h1>
<div class="container">
<!-- i'm only showing the error msg if the form has been edited (dirty) and is not valid -->
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Invalid input provided!</div>
  <div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid">Invalid Date provided!</div>
  <div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Input at least 5 characters for description!</div>

  <!-- event handling in the form -->
  <!-- in this way I can submit the form pressing enter -->
  <!-- using a template variable for validation: we declare "todoForm" to be an ngForm -->
  <!-- this variable can be referenced in all the html template! and is supercharged with built in functionality from Angular -->
  <!-- for example, in this case, as we have an ngForm, we can check if it's valid -->
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" #description="ngModel"
        [(ngModel)]="todo.description"
        name="description" required="required" minlength="5"
        class="form-control">
    </fieldset>

    <!-- here we are splitting the ngModel in model and event handling  -->
    <!-- the model part takes care of mapping the value to the html  -->
    <!-- the event handler listens on the change event on the model, and updates the value from what it gets from the event -->
    <fieldset class="form-group">
      <label>Target date</label>
      <input type="date" #targetDate="ngModel"
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
        (ngModelChange)="todo.targetDate = $event"
        name="targetDate" required="required"
        class="form-control">
    </fieldset>
    <!-- <button class="btn btn-small btn-success" (click)="saveTodo()">Save</button> -->
    <!-- using a button with type submit makes it possible to handle the click event in the container form -->
    <button type="submit" [disabled]="todoForm.invalid" class="btn btn-small btn-success">Save</button>

  </form>
</div>

